<div class="nhsuk-button-group nhsuk-button-group--small">

  {{ button({
    text: "Cancel all clinics",
    classes: "nhsuk-button--secondary nhsuk-button--small",
    href: '/not-in-this-prototype'
  }) }}
</div>