<div class="nhsuk-button-group nhsuk-button-group--small">
  {{ button({
    text: "Clinics",
    classes: "nhsuk-button--small",
    href: '/site/' ~ site_id ~ '/clinics'
  }) }}

  {{ button({
    text: "Change availability",
    classes: "nhsuk-button--secondary nhsuk-button--small",
    href: '/site/' ~ site_id ~ '/cancel-availability'
  }) }}
</div>