{%- from "nhsuk/macros/attributes.njk" import nhsukAttributes -%}
{%- from "nhsuk/components/summary-list/macro.njk" import summaryList -%}
{%- macro appCard(params) -%}
<section class="app-card{%- if params.classes %} {{ params.classes }}{% endif -%}" {{- nhsukAttributes(params.attributes) -}}>
  {%- if params.title or params.action %}
  <div class="app-card__header">
    {%- if params.title %}
    <h2 class="app-card__title">{{ params.title }}</h2>
    {%- endif %}

    {%- if params.action and params.action.href %}
    <a class="app-card__action" href="{{ params.action.href }}">
      {{ params.action.text or 'Change' }}
      {%- if params.action.visuallyHiddenText %}
      <span class="nhsuk-u-visually-hidden"> {{ params.action.visuallyHiddenText }}</span>
      {%- endif %}
    </a>
    {%- endif %}
  </div>
  {%- endif %}

  <div class="app-card__body">
    {%- if params.html %}
      {{ params.html | safe }}
    {%- elif params.items %}
      {% set rows = [] %}
      {%- for item in params.items %}
        {%- if item %}
          {% set rowKey = { text: item.key } %}
          {% if item.keyHtml %}
            {% set rowKey = { html: item.keyHtml } %}
          {% endif %}

          {% set rowValue = { text: item.value } %}
          {% if item.html %}
            {% set rowValue = { html: item.html } %}
          {% endif %}

          {% set rows = rows.concat([{
            key: rowKey,
            value: rowValue,
            actions: item.actions
          }]) %}
        {%- endif %}
      {%- endfor %}

      {{ summaryList({
        classes: 'app-card__summary-list',
        rows: rows
      }) }}
    {%- endif %}
  </div>
</section>
{%- endmacro -%}
