@use "sass:color";
@use "nhsuk-frontend/dist/nhsuk" as *;

@forward "components/secondary-navigation";



// Add your custom CSS/Sass styles below.
.nhsuk-feedback-banner {
  background-color: nhsuk-colour("white");
  @include nhsuk-responsive-padding(3, "top");
  @include nhsuk-responsive-padding(3, "bottom");
}

.app {

  &-small-button,
  &-button--small {
    @include nhsuk-font-size(16);
    padding: nhsuk-spacing(1) nhsuk-spacing(2);
  }

  &-sub-navigation {
    @include nhsuk-responsive-margin(3, "bottom");
    box-shadow: inset 0 -1px 0 $nhsuk-border-colour;

    &__list {
      display: flex;
      align-items: end;
      gap: nhsuk-spacing(5);
      padding: 0;
      margin: 0;
    }

    &__item {
      list-style: none;
      margin: 0;
      padding: 0;

      &--primary {
        margin-left: auto;
      }
    }

    &__link {
      text-decoration: none;
      position: relative;
      display: block;
      margin-bottom: 16px;
      &[aria-current="page"] {
        color: $nhsuk-text-colour;
        &:before {
          position: absolute;
          left: 0;
          bottom: -16px;
          width: 100%;
          height: 5px;
          content: "";
          display: block;
          background-color: $nhsuk-link-colour;
        }
      }
    }

  }

  &-hero {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  &-calendar {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: nhsuk-spacing(5);

    caption {
      text-align: left;
      font-weight: nhsuk-font-weight("bold");
      font-size: nhsuk-font-size("m");
      margin-bottom: nhsuk-spacing(3);
    }

    th, td {
      border: 1px solid $nhsuk-border-colour;
      vertical-align: top;
      padding: nhsuk-spacing(2);
    }

    &-day {
      width: 14.28%;
      height: 120px;
      color: $nhsuk-secondary-text-colour;
      position: relative;

      &--blank {
      background-color: nhsuk-colour("grey-5");
      }
      &--available {
        background-color: nhsuk-colour("white");
        color: $nhsuk-text-colour;
        font-weight: bold;
      }
      &--past {
        background: linear-gradient(to right bottom, nhsuk-colour("grey-5") 0%,nhsuk-colour("grey-5") 49.9%,$nhsuk-border-colour 50%,$nhsuk-border-colour 51%,nhsuk-colour("grey-5") 51.1%,nhsuk-colour("grey-5") 100%);
      }
    }

    &-link {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &:hover::after,
      &:focus::after {
        border: 6px solid $nhsuk-focus-colour;
      }
    }

    &-details {
      margin: 0;
      padding: 0;
      list-style: none;
      @include nhsuk-font-size(14);
      font-weight: normal;
      margin-top: nhsuk-spacing(1);
    }
  }

  &-panel-list {
    padding: 0;

    &__item {
      list-style: none;
    }

  }

  &-table-row--total {
    border-top: 6px solid $nhsuk-border-colour;
  }

  &-service-count {
    color: $nhsuk-secondary-text-colour;
  }

  &-summary-card {
    border: 1px solid map-get($nhsuk-colours, "grey-4");
    @include nhsuk-responsive-margin(5, bottom);
    background-color: #ffffff;

    &__title-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      @include nhsuk-responsive-padding(3, all);
      background-color: map-get($nhsuk-colours, "grey-5");
    }

    &__content {
      @include nhsuk-responsive-padding(3, all);

      //special overrides for the summary list
      >.nhsuk-summary-list {
        margin-bottom: 0;
      }
      >.nhsuk-summary-list .nhsuk-summary-list__row:last-child {
        border-bottom: none;
      }
      >.nhsuk-table {
        margin-bottom: 0;
      }
    }

    &__title,
    &__action {
      @include nhsuk-font-size(19);
      margin: 0;
    }

  }

}
.app-filters {
  &.nhsuk-card {
    background-color: color.scale(nhsuk-colour("grey-4"), $alpha: -50%);
  }

  .nhsuk-card__heading--feature {
    background-color: nhsuk-colour("grey-1");
  }

  // Adjust design and spacing of details component
  .nhsuk-details {
    margin-left: nhsuk-spacing(-4);
    margin-right: nhsuk-spacing(-4);

    @include nhsuk-media-query($from: tablet) {
      margin-left: nhsuk-spacing(-5);
      margin-right: nhsuk-spacing(-5);
    }

    &[open] {
      background-color: nhsuk-colour("grey-4");
    }
  }

  .nhsuk-details__summary {
    @include nhsuk-responsive-margin(5, "left");
    @include nhsuk-responsive-margin(5, "right");
  }

  .nhsuk-details__text {
    border-left: 0;

    // Remove once https://github.com/nhsuk/nhsuk-frontend/pull/1633 released
    box-sizing: border-box;

    @include nhsuk-responsive-padding(5, "left");
    @include nhsuk-responsive-padding(5, "right");
  }

  // Adjust margin around date inputs
  & .nhsuk-date-input__item {
    margin-right: nhsuk-spacing(3);
  }

  & .nhsuk-date-input__item:last-child {
    margin-right: 0;
  }
}

.app-sessionInput {

  @include nhsuk-responsive-padding(4);
   @include nhsuk-responsive-margin(4, 'bottom');
  background-color: nhsuk-colour("grey-5");
  border: 1px solid $nhsuk-border-colour;

  &__title {
    @include nhsuk-font-size(22);
    @include nhsuk-responsive-margin(2, "bottom");
  }
  
  &__row {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;

    .nhsuk-form-group {
      margin-bottom: 0;
    }
  }

  &__times {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__to-seperator {
    font-size: 19px;
  }

  &__controls {
    @include nhsuk-font-size(19);
  }

  &__time .nhsuk-date-input__label {
    display: none; //naughty!
  }
  &__time .nhsuk-date-input__item {
    margin-right: nhsuk-spacing(2);
    &:last-child {
      margin-right: 0;
    }
  }

}

.app-heading-with-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: nhsuk-spacing(9);
  margin-bottom: nhsuk-spacing(6);

  >* {
    margin-bottom: 0;
  }

  > a {
    flex-shrink: 0;
  }
}

.app-table-select-checkbox--header {
  .nhsuk-checkboxes__label {
    font-weight: bold;
  }
}

.app-monospace {
  font-family: monospace;
  border: 1px solid $nhsuk-border-colour;
  padding: 6px;
  background-color: white;
}

.app-table__panel-with-heading-tab--past {
  background-color: transparent;
  .nhsuk-table__heading-tab {
    background-color: nhsuk-colour("grey-1");
    color: white;
  }
}