// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";

// Add your custom CSS/Sass styles below.
.nhsuk-feedback-banner {
  background-color: nhsuk-colour("white");
  @include nhsuk-responsive-padding(3, "top");
  @include nhsuk-responsive-padding(3, "bottom");
}

.app {

  &-small-button {
    font-size: nhsuk-font-size("s");
    padding: nhsuk-spacing(1) nhsuk-spacing(2);
  }

  &-sub-navigation {
    @include nhsuk-responsive-margin(3, "bottom");
    box-shadow: inset 0 -1px 0 $nhsuk-border-colour;

    &__list {
      display: flex;
      gap: nhsuk-spacing(3);
      padding: 0;
      margin: 0;
    }

    &__item {
      list-style: none;
      margin: 0;
      padding: 0;

      &--primary {
        margin-left: auto;
      }
    }

    &__link {
      text-decoration: none;
      position: relative;
      display: block;
      margin-bottom: 16px;
      &[aria-current="page"] {
        color: $nhsuk-text-colour;
        &:before {
          position: absolute;
          left: 0;
          bottom: -16px;
          width: 100%;
          height: 5px;
          content: "";
          display: block;
          background-color: $nhsuk-link-colour;
        }
      }
    }

  }

  &-hero {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  &-calendar {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: nhsuk-spacing(5);

    caption {
      text-align: left;
      font-weight: nhsuk-font-weight("bold");
      font-size: nhsuk-font-size("m");
      margin-bottom: nhsuk-spacing(3);
    }

    th, td {
      border: 1px solid $nhsuk-border-colour;
      vertical-align: top;
      padding: nhsuk-spacing(2);
    }

    &-day {
      width: 14.28%;
      height: 120px;
      color: $nhsuk-secondary-text-colour;
      position: relative;

      &--blank {
      background-color: nhsuk-colour("grey-5");
      }
      &--available {
        background-color: nhsuk-colour("white");
        color: $nhsuk-text-colour;
        font-weight: bold;
      }
      &--past {
        background: linear-gradient(to right bottom, nhsuk-colour("grey-5") 0%,nhsuk-colour("grey-5") 49.9%,$nhsuk-border-colour 50%,$nhsuk-border-colour 51%,nhsuk-colour("grey-5") 51.1%,nhsuk-colour("grey-5") 100%);
      }
    }

    &-link {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &:hover::after,
      &:focus::after {
        border: 6px solid $nhsuk-focus-colour;
      }
    }

    &-details {
      margin: 0;
      padding: 0;
      list-style: none;
      @include nhsuk-font-size(14);
      font-weight: normal;
      margin-top: nhsuk-spacing(1);
    }
  }

  &-panel-list {
    padding: 0;

    &__item {
      list-style: none;
    }

  }

}