{% extends '../../layouts/layout.html' %}

{% macro selectCheckBox(opts) %}
<div class="nhsuk-checkboxes__item nhsuk-checkboxes--small app-table-select-checkbox {{ opts.classes }}">
  <input class="nhsuk-checkboxes__input" id="{{ opts.id }}" type="checkbox" name="{{ opts.name }}" value="{{ opts.value }}">
  <label class="nhsuk-label nhsuk-checkboxes__label" for="{{ opts.id }}">{{ opts.label | safe }}</label>
</div>
{% endmacro %}

{% set pageName = 'Select sessions to remove' %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' ~ site_id ~ '/availability/all',
  text: 'Back'
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      {% set servicesList %}
        {% for serviceId in group.session.services %}
          {% set vaccineShortcode = data.services[serviceId].name %}
          {{ vaccineShortcode }}{% if not loop.last %}<br>{% endif %}
        {% endfor %}
      {% endset %}

      {% call details({
        summaryText: "Details of sessions in this group"
      }) %}
      <p>All sessions have the same:</p>
      {{ summaryList({
        rows: [
          {
            key: {
              text: "Times"
            },
            value: {
              text: group.session.from | nhsTime  ~ ' to ' ~ group.session.until | nhsTime
            }
          },
          {
            key: {
              text: "Services"
            },
            value: {
              html: servicesList
            }
          },
          {
            key: {
              text: "Appointment length"
            },
            value: {
              text: group.session.slotLength ~ " minutes"
            }
          },
          {
            key: {
              text: "Vaccinators or vaccination spaces"
            },
            value: {
              text: group.session.capacity
            }
          }
        ]
      }) }}
      {% endcall %}

      <form action="/site/{{ site_id }}/remove/{{ itemId }}/do-you-want-to-cancel-bookings" method="post">
      <table class="nhsuk-table" id="bookings-table">
        <thead class="nhsuk-table__head">
          <tr>
            <th scope="col" class="nhsuk-table__header app-table-select">{{ selectCheckBox({
              id: 'select-all',
              name: 'select-all',
              label: '<span class="nhsuk-u-visually-hidden">Select all </span>Dates',
              classes: 'app-table-select-checkbox--header',
              value: 'true'
            }) }}</th>
            <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Total bookings (all services)</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          {% for date in group.dates %}
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">{{ selectCheckBox({
              id: 'select-date'~date,
              name: 'select-date',
              label: date | formatDate('cccc, d MMMM yyyy'),
              value: date
            }) }}</td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">{{ summaries.daily[date].bookedSlots }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {{ button({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}