{% from 'nhsuk/components/tabs/macro.njk' import tabs %}

{% macro docsExample(idBase, title, previewHtml, nunjucksCode, htmlCode) %}
  <h3 class="nhsuk-heading-m">{{ title }}</h3>
  <div class="app-docs__example">{{ previewHtml | safe }}</div>

  {{ tabs({
    title: 'Code for ' + title,
    items: [
      {
        id: idBase + '-nunjucks',
        label: 'Nunjucks',
        panel: {
          html: '<div class="app-docs__code-block"><pre class="line-numbers"><code class="language-django">' + (nunjucksCode | escape) + '</code></pre></div>'
        }
      },
      {
        id: idBase + '-html',
        label: 'HTML output',
        panel: {
          html: '<div class="app-docs__code-block"><pre class="line-numbers"><code class="language-html">' + (htmlCode | escape) + '</code></pre></div>'
        }
      }
    ]
  }) }}
{% endmacro %}
