{% extends '../../../layouts/layout.html' %}

{% set pageName = "Clinic closures" %}

{% macro closureText(closure) %}
  {% set closureStart = closure.startDate | formatDate('d MMM yyyy') %}
  {% set closureEnd = closure.endDate | formatDate('d MMM yyyy') %}
  {% if closureStart == closureEnd %}
    {{ closureStart }}
  {% else %}
    {{ closureStart }} to {{ closureEnd }}
  {% endif %}
  {% if closure.label %}
    - {{ closure.label }}
  {% endif %}
{% endmacro %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' + site_id + '/clinics/services'
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l">Create clinic series</span>
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      {% if closures | length > 0 %}
        <h2 class="nhsuk-heading-m">You have added {{ closures | length }} clinic closure{{ 's' if closures | length != 1 }}</h2>

        {% set closureRows = [] %}
        {% for closure in closures %}
          {% set closureTitle = closure.label | trim %}
          {% if not closureTitle %}
            {% set closureTitle = "Closure " + loop.index %}
          {% endif %}
          {% set closureRows = closureRows.concat({
            key: {
              text: closureTitle
            },
            value: {
              text: closureText(closure) | trim
            },
            actions: {
              items: [
                {
                  href: "/site/" + site_id + "/clinics/clinic-closures/" + loop.index0 + "/change",
                  text: "Change",
                  visuallyHiddenText: " closure " + loop.index
                },
                {
                  href: "/site/" + site_id + "/clinics/clinic-closures/" + loop.index0 + "/remove",
                  text: "Remove",
                  visuallyHiddenText: " closure " + loop.index
                }
              ]
            }
          }) %}
        {% endfor %}

        {{ summaryList({
          rows: closureRows
        }) }}
      {% endif %}

      {% if closures | length > 0 %}
        {% set questionText = "Are there any other dates when this clinic will not take place?" %}
      {% else %}
        {% set questionText = "Are there any dates when this clinic will not take place?" %}
      {% endif %}

      <form action="/site/{{ site_id }}/clinics/clinic-closures" method="post">
        <input type="hidden" name="newSession[type]" value="Clinic series">
        {{ radios({
          idPrefix: "add-another-closure",
          name: "addAnother",
          fieldset: {
            legend: {
              text: questionText,
              classes: "nhsuk-fieldset__legend--m"
            }
          },
          classes: "nhsuk-radios--inline",
          hint: {
            text: "For example, bank holidays"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
