{% extends '../../../layouts/layout.html' %}

{% set pageName = "Are you sure you want to remove this clinic closure?" %}
{% if not backUrl %}{% set backUrl = '/site/' + site_id + '/clinics/clinic-closures' %}{% endif %}
{% if not formAction %}{% set formAction = '/site/' + site_id + '/clinics/clinic-closures/' + index + '/remove' %}{% endif %}
{% if not captionText %}{% set captionText = 'Create clinic series' %}{% endif %}

{% block beforeContent %}
{{ backLink({
  href: backUrl
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l">{{ captionText }}</span>
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      <p class="nhsuk-body">
        {% if closure.startDate == closure.endDate %}
          {{ closure.startDate | formatDate('d MMM yyyy') }}
        {% else %}
          {{ closure.startDate | formatDate('d MMM yyyy') }} to {{ closure.endDate | formatDate('d MMM yyyy') }}
        {% endif %}
        {% if closure.label %}
          - {{ closure.label }}
        {% endif %}
      </p>

      <form action="{{ formAction }}" method="post">
        <input type="hidden" name="newSession[type]" value="Clinic series">
        {{ button({
          text: "Yes, remove closure"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
