@use "nhsuk-frontend/dist/nhsuk" as *;

.app-card {
  border: 1px solid $nhsuk-border-colour;
  background-color: nhsuk-colour("white");
  @include nhsuk-responsive-margin(4, bottom);
  //NHS looking shadow
  box-shadow: 0 2px 0 0 nhsuk-colour("grey-4");

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: nhsuk-spacing(3);
    padding: nhsuk-spacing(3);
    background-color: nhsuk-colour("grey-5");
    border-bottom: 1px solid $nhsuk-border-colour;
    
  }

  &__title {
    @include nhsuk-font-size(16);
    margin: 0;
    font-weight: $nhsuk-font-bold;
  }

  &__action {
    @include nhsuk-font-size(16);
    white-space: nowrap;
  }

  &__body {
    padding: nhsuk-spacing(3);
  }

  &__summary-list {
    margin-bottom: 0;

    .nhsuk-summary-list__key,
    .nhsuk-summary-list__value,
    .nhsuk-summary-list__actions {
      @include nhsuk-font-size(16);
      vertical-align: top;
    }

    .nhsuk-summary-list__row:last-child {
      border-bottom: none;
    }

    .nhsuk-summary-list__value > :last-child {
      margin-bottom: 0;
    }
  }
}
