{% extends '../../layouts/layout.html' %}

{% set pageName = date | formatDate('EEEE, dd LLLL yyyy') %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' + site_id,
  text: 'Back to dashboard'
}) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <span class="nhsuk-caption-l">{{ data.sites[site_id].name }}</span>
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      {% macro orphanNote(count) -%}
        {% set isAre = 'is' if count == 1 else 'are' %}
        {% set appointmentAppointments = 'appointment' if count == 1 else 'appointments' %}
        {% set itThem = 'it' if count == 1 else 'them' %}
        {{ count }} booked {{appointmentAppointments}} {{isAre}} still scheduled until you cancel {{itThem}}.
      {%- endmacro %}

      {% macro appointmentForToday(opts) %}
        <h2 class="nhsuk-heading-m">{{ opts.title }} {{ opts.status }}</h2>
        {% if sessions[opts.status~'Count'] > 0 %}
        {{ insetText({
          text: orphanNote(opts.slots.orphanedCount)
        }) if opts.showOrphanNote }}

        <table class="nhsuk-table-responsive" role="table">
          <thead class="nhsuk-table__head" role="rowgroup">
            <tr>
              <th scope="col" class="nhsuk-table__header">Time</th>
              <th scope="col" class="nhsuk-table__header">Name and NHS number</th>
              <th scope="col" class="nhsuk-table__header">Date of birth</th>
              <th scope="col" class="nhsuk-table__header">Contact details</th>
              <th scope="col" class="nhsuk-table__header">Services</th>
              {% if opts.canCancel %}
              <th scope="col" class="nhsuk-table__header">Action</th>
              {% endif %}
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            {% for slot in sessions.slots %}
            {% if slot.appointment_id != false and data.bookings[slot.appointment_id].status == opts.status %}
            <tr class="nhsuk-table__row" role="row">
              <td class="nhsuk-table__cell">{{ slot.from | formatDate('h:mm a') | lower }}</td>
              <td class="nhsuk-table__cell">
                {{ data.bookings[slot.appointment_id].name }}<br>
                {{ data.bookings[slot.appointment_id].nhsNumber | nhsNumber | safe }}
              </td>
              <td class="nhsuk-table__cell">{{ data.bookings[slot.appointment_id].dob | formatDate('d MMMM yyyy') }}</td>
               <td class="nhsuk-table__cell nhsuk-u-text-break-word">
                {% for key, value in data.bookings[slot.appointment_id].contact %}
                  {% if key !== 'phone' -%}
                    <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">{{ value }}</p>
                  {% else %}
                    <p class="nhsuk-body nhsuk-u-margin-bottom-0">{{ value }}</p>
                  {% endif %}
                {% endfor %}
              </td>
              <td class="nhsuk-table__cell">{{ data.services[data.bookings[slot.appointment_id].service].name }}</td>
              {% if opts.canCancel %}
              <td class="nhsuk-table__cell"><a href="/sites/{{ site_id }}/cancel-appointment/{{ slot.appointment_id }}">Cancel</a></td>
              {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>No {{ opts.title | lower }}.</p>
        {% endif %}
        
        
      {% endmacro %}

      {{ tabs({ 
        items: [ 
        { 
          label: "Scheduled", 
          id: "scheduled", 
          panel: { 
            html: appointmentForToday({
              status: 'scheduled', 
              title: 'Scheduled appointments',
              canCancel: true
            }) 
          } 
        }, 
        { 
          label: "Cancelled", 
          id: "cancelled", 
            panel: { 
              html: appointmentForToday({
                status: 'cancelled', 
                title: 'Cancelled appointments'
              }) 
            } 
          }, 
          { 
            label: "Manual Cancellations", 
            id: "manual-cancellations", 
            panel: { 
              html: appointmentForToday({
                status: 'orphaned', 
                title: 'Appointments you must manually cancel',
                showOrphanNote: true,
                canCancel: true
              }) 
            } 
          }
        ] 
      }) }}

             {{ sessions | prettyDump | safe }}

    </div>  
  </div>
{% endblock %}