{% extends '../../layouts/layout.html' %}

{% set pageName = "View availability for week" %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' ~ site_id ~ '/view-availability',
  text: 'Back to month view'
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <span class="nhsuk-caption-l">{{ data.sites[site_id].name }}{{ firstOfTheMonth }}</span>
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      <h2>Week model</h2>
      {{ weekModel | prettyDump | safe }}
      <h2>Stats</h2>
      {{ stats | prettyDump | safe }}

      <ul class="nhsuk-grid-row nhsuk-card-group">
      {% for day in weekModel.days %}
        <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">{{ day.date | formatDate('EEEE, d LLLL') }}</h2>


            </div>
          </div>
        </li>
      {% endfor %}
      </ul>

    </div>
  </div>
{% endblock %}