{% extends '../../layouts/layout.html' %}
{% from '../../includes/renderServicesTable.njk' import renderServicesTable %}

{% set thisSession = {} %}
{% set date = null %}
{% for availabilityDate, availability in data.daily_availability[site_id] %}
  {% set date = availabilityDate %}
  {% for session in availability.sessions %}
    {% if session.id == itemId %}{% set thisSession = session %}{% endif %}
  {% endfor %}
{% endfor %}

{% set pageName = 'Change availability for '~date | formatDate %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' ~ site_id ~ '/availability/week',
  text: 'Back to week view'
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <span class="nhsuk-caption-l">{{ data.sites[site_id].name }}</span>
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      <p>Type: {{ type }}, ID: {{ itemId }}</p>

      {{ renderServicesTable({
        date: date, 
        sessions: [thisSession],
        slots: slots,
        site_id: site_id,
        data: data,
        hideAction: true
      }) }}

      {{ insetText({
        text: 'You can only reduce time, capacity or services from this screen. If you want to increase availability for this day, you must create a new session.'
      }) }}

      <form action="/site/{{ site_id}}/change/type-of-change?date={{ date }}&from={{ from }}&until={{ until }}" method="post">
        <input type="hidden" name="date" value="{{ date }}">
        <input type="hidden" name="from" value="{{ from }}">
        <input type="hidden" name="until" value="{{ until }}">
        {{ radios({
          idPrefix: "type-of-change",
          name: "type-of-change",
          fieldset: {
            legend: {
              text: "What do you want to do?",
              classes: "nhsuk-fieldset__legend--m"
            }
          },
          items: [
            {
              text: "Change the length or capacity of this session",
              hint: {
                text: "Shorten the session length or remove capacity"
              },
              value: "length-or-capacity"
            },
            {
              value: "remove-services",
              text: "Remove services from this session",
              hint: {
                text: "Remove booked appointments for individual services"
              }
            },
            {
              value: "cancel-session",
              text: "Cancel this session"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}