{% extends '../../layouts/layout.html' %}

{% set pageName = "Check your answers" %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' ~ site_id ~ '/change/' ~ type ~ '/' ~ itemId ~ '/do-you-want-to-cancel-bookings',
  text: 'Back'
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      
      <span class="nhsuk-caption-l">Change availability</span>
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      <div class="app-summary-card">
        <div class="app-summary-card__title-wrapper">
          <h2 class="app-summary-card__title">Dates</h2>
        </div>
        <div class="app-summary-card__content">
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Start date</dt>
              <dd class="nhsuk-summary-list__value">{{ data.currentGroup.dates[0] | formatDate }}</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">End date</dt>
              <dd class="nhsuk-summary-list__value">{{ data.currentGroup.dates[data.currentGroup.dates | length - 1] | formatDate }}</dd>
            </div>
          </dl>
        </div>
      </div>
      
      {% if data.currentGroup.changeType == 'time-or-capacity' %}
      {% set startTime %}{{ data.currentGroup.session.from.hour }}:{{ data.currentGroup.session.from.minute }}{% endset %}
      {% set endTime %}{{ data.currentGroup.session.until.hour }}:{{ data.currentGroup.session.until.minute }}{% endset %}
      <div class="app-summary-card">
        <div class="app-summary-card__title-wrapper">
          <h2 class="app-summary-card__title">Times, appointment length and vaccination spaces</h2>
          <a class="app-summary-card__action" href="/site/{{ site_id }}/change/{{ type }}/{{ itemId }}/time-or-capacity">Change</a>
        </div>
        <div class="app-summary-card__content">
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Start time</dt>
              <dd class="nhsuk-summary-list__value">{{ startTime | nhsTime }}</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">End time</dt>
              <dd class="nhsuk-summary-list__value">{{ endTime | nhsTime }}</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Available vaccinators or vaccination slots</dt>
              <dd class="nhsuk-summary-list__value">{{ data.currentGroup.session.capacity }}</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Appointment length</dt>
              <dd class="nhsuk-summary-list__value">{{ data.currentGroup.session.slotLength }} minutes</dd>
            </div>
          </dl>
        </div>
      </div>
      {% endif %}

      {% if data.currentGroup['cancel-bookings'] is defined %}
      <div class="app-summary-card">
        <div class="app-summary-card__title-wrapper">
          <h2 class="app-summary-card__title">Affected bookings</h2>
        </div>
        <div class="app-summary-card__content">
          {% set cancelMessage %}
            {% if data.currentGroup['cancel-bookings'] == 'true' -%}
              Yes, cancel bookings
            {%- else -%}
              No, keep bookings
            {%- endif %}
          {% endset %}
          {{ summaryList({
            rows: [
              {
                key: {
                  text: "Cancel affected bookings"
                },
                value: {
                  text: cancelMessage
                },
                actions: {
                  items: [
                    {
                      href: "/site/"~site_id~"/change/"~type~"/"~itemId~"/do-you-want-to-cancel-bookings",
                      text: "Change",
                      visuallyHiddenText: " if you want to cancel bookings"
                    }
                  ]
                }
              }
            ]
          }) }}
        </div>
      </div>
      {% endif %}

    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/site/{{ site_id }}/change/{{ type }}/{{ itemId }}/confirm-change" method="post">
        {# if no comparison was made, then this is a simple change #}
        {% if data.changeComparison is not defined %}
        {{ button({
          text: "Save changes"
        }) }}
        {% endif %}

        {# If there's more than 0 affected bookings and we've changed time or capacity #}
        {% if data.changeComparison.counts.totalAffected > 0 
          and data.currentGroup.changeType == 'time-or-capacity'
        %}
          {% if data.currentGroup['cancel-bookings'] == 'false' %}
          {{ button({
            text: "Save changes"
          }) }}
          {% else %}
          {{ button({
            text: "Save changes and cancel bookings",
            classes: "nhsuk-button--warning"
          }) }}
          {% endif %}
        {% endif %}
      </form>
    </div>
{% endblock %}