{% extends '../../layouts/layout.html' %}

{% set startDate = data.currentGroup.dates[0] %}
{% set endDate = data.currentGroup.dates[data.currentGroup.dates | length - 1] %}

{% if startDate == endDate %}
  {% set pageName = "New time and capacity for " ~ startDate | formatDate('d LLLL yyyy') %}
{% else %}
  {% set pageName = "New time and capacity for " ~ startDate | formatDate ~ " to " ~ endDate | formatDate %}
{% endif %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' ~ site_id ~ '/change/' ~ type ~ '/' ~ itemId ~ '/time-or-capacity',
  text: 'Back'
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l">Edit availability</span>
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>
      <p>Changing the time and capacity will affect {{ data.changeComparison.counts.totalAffected | formatNumber }} bookings.</p>
      <p>People will be sent a text message or email confirming their booking has been cancelled.</p>
      <form action="/site/{{ site_id }}/change/{{ type }}/{{ itemId }}/check-answers" method="post">
        {{ radios({
          idPrefix: "do-you-want-to-cancel-bookings",
          name: "currentGroup[cancel-bookings]",
          fieldset: {
            legend: {
              text: "Do you want to cancel the bookings?",
              classes: "nhsuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "true",
              text: "Yes, cancel the bookings and change this session",
              checked: true if data.currentGroup['cancel-bookings'] == 'true'
            },
            {
              value: "false",
              text: "No, do not cancel the bookings but change this session",
              checked: true if data.currentGroup['cancel-bookings'] == 'false'
            }
          ]
        }) }}
        {{ button({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}