{% extends '../../layouts/layout.html' %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' ~ site_id ~ '/availability/week',
  text: 'Back to week view'
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <span class="nhsuk-caption-l">{{ data.sites[site_id].name }}</span>
      <h1 class="nhsuk-heading-l">Change length or capacity</h1>
      <form action="" method="post">
        {{ dateInput({
            id: "start-time",
            namePrefix: "groupClone[session][from]",
            fieldset: {
              legend: {
                text: "Start time",
                classes: "nhsuk-label--m"
              }
            },
            hint: {
              text: "For example, 10:00"
            },
            items: [
              {
                name: "hour",
                classes: "nhsuk-input--width-2",
                value: data.groupClone.session.from | splitString(':', 0)
              },
              {
                name: "minute",
                classes: "nhsuk-input--width-2",
                value: data.groupClone.session.from | splitString(':', 1)
              }
            ]
          }) }}
          {{ dateInput({
            id: "end-tme",
            namePrefix: "groupClone[session][until]",
            fieldset: {
              legend: {
                text: "End time",
                classes: "nhsuk-label--m"
              }
            },
            hint: {
              text: "For example, 17:00"
            },
            items: [
              {
                name: "hour",
                classes: "nhsuk-input--width-2",
                value: (data.groupClone.session.until | splitString(':', 0))
              },
              {
                name: "minute",
                classes: "nhsuk-input--width-2",
                value: data.groupClone.session.until | splitString(':', 1)
              }
            ]
          }) }}

          {{ input({
            label: {
              text: "How many vaccinators or vaccination spaces do you have?",
              classes: "nhsuk-label--m"
            },
            id: "capacity",
            name: "groupClone[session][capacity]",
            classes: "nhsuk-input--width-2",
            value: data.groupClone.session.capacity
          }) }}

          {{ input({
            label: {
              text: "How long are your appointments?",
              classes: "nhsuk-label--m"
            },
            hint: {
              text: "Appointment length must be a maximum of 60 minutes"
            },
            id: "duration",
            name: "groupClone[session][slotLength]",
            classes: "nhsuk-input--width-2",
            suffix: "minutes",
            value: data.groupClone.session.slotLength
          }) }}

        {{ button({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
