{% extends '../../layouts/layout.html' %}

{% if data.currentGroup.changeType == 'time-or-capacity' %}
  {% set changeTypeText = 'Time and capacity' %}
{% else %}
  {% set changeTypeText = data.currentGroup.changeType %}
{% endif %}

{% set startDate = data.currentGroup.dates[0] %}
{% set endDate = data.currentGroup.dates[data.currentGroup.dates | length - 1] %}

{% if startDate == endDate %}
  {% set datesText = startDate | formatDate('d LLLL yyyy') %}
{% else %}
  {% set datesText = startDate | formatDate ~ " to " ~ endDate | formatDate %}
{% endif %}

{% set pageName = changeTypeText~" changed for "~datesText %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      
      {{ panel({
        titleText: pageName,
        text: "These sessions have been updated and the new time and capacity has been saved."
      }) }}
      
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {# summary information #}
      {% if (data.changeComparison is not defined) or (data.changeComparison.counts.totalAffected <= 1) %}
        <p>No bookings were affected by this change.</p>
      {% else %}
        
        {% if data.currentGroup['cancel-bookings'] == 'true' %}
          <h2 class="nhsuk-heading-m">{{ data.changeComparison.counts.totalAffected | formatNumber }} bookings have been cancelled</h2>
          <p>People will be sent a text message or email confirming their bookings has been cancelled.</p>
        {% else %}
          <p>{{ data.changeComparison.counts.totalAffected | formatNumber }} bookings have not been cancelled.</p>
        {% endif %}

        {% if data.changeComparison.counts.notAutoCancelled > 0 and data.currentGroup['cancel-bookings'] == 'true' %}
          <h2 class="nhsuk-heading-m">Some people have not been contacted</h2>
          <p>{{ data.changeComparison.counts.notAutoCancelled | formatNumber }} people did not provide an email or mobile number, and have not been notified that their bookings were cancelled.</p>
          <p><a href="#">View the list of people who have not been notified.</a></p>
         {% endif %}
      {% endif %}

      {% if not(data.changeComparison.counts.notAutoCancelled > 0 and data.currentGroup['cancel-bookings'] == 'true') %}
      <h2 class="nhsuk-heading-m">What to do next</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Go back to <a href="/sites/{{ site_id }}/availability/all">Manage availability</a></li>
        <li>Go back to <a href="/sites/{{ site_id }}/availability/day">Day view</a></li>
      </ul>
      {% endif %}

    </div>
{% endblock %}