{% extends '../../../layouts/layout.html' %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' + site_id + '/clinics/edit/' + sessionId + '/what-change'
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">Do you want to make any other changes?</h1>

      <form action="/site/{{ site_id }}/clinics/edit/{{ sessionId }}/any-other-changes" method="post">
        {{ radios({
          idPrefix: 'more-changes',
          name: 'moreChanges',
          items: [
            { value: 'yes', text: 'Yes' },
            { value: 'no', text: 'No' }
          ]
        }) }}

        {{ button({ text: 'Continue' }) }}
      </form>
    </div>
  </div>
{% endblock %}
