{% extends '../../../layouts/layout.html' %}
{% from '../../../components/app-card.njk' import appCard %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' + site_id + '/clinics'
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% set editBasePath = '/site/' ~ site_id ~ '/clinics/edit/' ~ sessionId %}
      {% set isSeries = draft.type == 'Clinic series' %}
      {% set pageName = 'Edit clinic series' if isSeries else 'Edit single clinic' %}
      {% set detailsTitle = 'Series details' if isSeries else 'Clinic details' %}
      {% set vaccinatorText = draft.capacity ~ ' vaccinator' %}
      {% if draft.capacity != 1 %}
        {% set vaccinatorText = vaccinatorText ~ 's' %}
      {% endif %}

      {# slots calculation #}
      {% set fromParts = draft.from.split(':') %}
      {% set untilParts = draft.until.split(':') %}
      {% set startMinutes = (fromParts[0] | int * 60) + (fromParts[1] | int) %}
      {% set endMinutes = (untilParts[0] | int * 60) + (untilParts[1] | int) %}
      {% set sessionMinutes = endMinutes - startMinutes %}
      {% set totalAppointments = 0 %}
      {% if sessionMinutes > 0 and (draft.duration | int) > 0 and (draft.capacity | int) > 0 %}
        {% set totalAppointments = (sessionMinutes // (draft.duration | int)) * (draft.capacity | int) %}
      {% endif %}
      {# end:slots calculation #}

      {% set servicesHtml %}
        {%- for serviceId in draft.services %}
          {%- if data.services[serviceId] -%}
            {{ data.services[serviceId].name }}
          {%- else -%}
            {{ serviceId }}
          {%- endif -%}
          {%- if not loop.last %}<br>{% endif -%}
        {%- endfor %}
      {% endset %}

      {% set closuresItems = [] %}
      {% if draft.closures and draft.closures.length %}
        {% for closure in draft.closures %}
          {% set closureKeyHtml %}
            {% if closure.label %}
              {{ closure.label }}
            {% else %}
              <span class="nhsuk-hint nhsuk-u-margin-bottom-0">No label</span>
            {% endif %}
          {% endset %}
          {% set closuresItems = closuresItems.concat([{
            keyHtml: closureKeyHtml,
            value: closure.startDate | nhsDateRange(closure.endDate)
          }]) %}
        {% endfor %}
      {% else %}
        {% set closuresItems = [{
          keyHtml: '<span class="nhsuk-hint nhsuk-u-margin-bottom-0">No closures</span>',
          value: 'None added'
        }] %}
      {% endif %}

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      {{ appCard({
        title: detailsTitle,
        action: {
          href: editBasePath ~ '/details',
          text: 'Change',
          visuallyHiddenText: ' clinic details'
        },
        items: [
          {
            key: 'Clinic name',
            value: draft.name or 'Not provided'
          },
          {
            key: 'Start date',
            value: draft.startDate | nhsDate
          },
          {
            key: 'End date',
            value: draft.endDate | nhsDate
          } if isSeries
        ]
      }) }}
      


      {% if isSeries %}
        {{ appCard({
          title: 'Day pattern',
          action: {
            href: editBasePath ~ '/days',
            text: 'Change',
            visuallyHiddenText: ' day pattern'
          },
          items: [
            {
              key: 'Days',
              value: draft.days | join(', ')
            }
          ]
        }) }}
      {% endif %}

      {{ appCard({
        title: 'Start and end times',
        action: {
          href: editBasePath ~ '/clinic-times',
          text: 'Change',
          visuallyHiddenText: ' start and end times'
        },
        items: [
          {
            key: 'Start time',
            value: draft.from | nhsTime
          },
          {
            key: 'End time',
            value: draft.until | nhsTime
          }
        ]
      }) }}

      {{ appCard({
        title: 'Capacity',
        action: {
          href: editBasePath ~ '/appointments-calculator',
          text: 'Change',
          visuallyHiddenText: ' booking length'
        },
        items: [
          {
            key: 'Booking length',
            value: draft.duration ~ ' minutes'
          },
          {
            key: 'Vaccinators',
            value: vaccinatorText
          },
          {
            key: 'Total appointments per clinic',
            value: totalAppointments
          }
        ]
      }) }}

      {{ appCard({
        title: 'Services',
        action: {
          href: editBasePath ~ '/services',
          text: 'Change',
          visuallyHiddenText: ' services'
        },
        items: [
          {
            key: 'Services',
            html: servicesHtml
          }
        ]
      }) }}

      {% if isSeries %}
        {{ appCard({
          title: 'Closures',
          action: {
            href: editBasePath ~ '/clinic-closures',
            text: 'Change',
            visuallyHiddenText: ' closures'
          },
          items: closuresItems
        }) }}
      {% endif %}

    </div>
  </div>
{% endblock %}
