{% extends '../../../layouts/layout.html' %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' + site_id + '/clinics'
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      {{ summaryList({ rows: rows }) }}

      <form action="/site/{{ site_id }}/clinics/edit/{{ sessionId }}/what-change" method="get">
        {{ button({ text: 'Continue' }) }}
      </form>
    </div>
  </div>
{% endblock %}
