{% extends '../../layouts/layout.html' %}

{% set pageName = "Check your answers" %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' + site_id + '/cancel-availability/sessions-and-bookings'
}) }}
{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

        {{ summaryList({
          rows: [
            {
              key: {
                text: "Dates"
              },
              value: {
                html: startDate | nhsDateRange(endDate) 
              },
              actions: {
                items: [
                  {
                    href: "/site/" + site_id + "/cancel-availability",
                    text: "Change",
                    visuallyHiddenText: " dates" 
                  }
                ]
              }
            }, {
              key: {
                text: "Affected sessions"
              },
              value: {
                html: data.cancelAvailability.affectedSessions ~ " sessions"
              }
            }, {
              key: {
                text: "What do you want to do with the bookings?"
              },
              value: {
                text: data.cancelAvailability.keepOrCancelBookings | title ~" " ~ data.cancelAvailability.affectedBookings ~ " bookings"
              },
              actions: {
                items: [
                  {
                    href: "/site/" + site_id + "/cancel-availability/sessions-and-bookings",
                    text: "Change",
                    visuallyHiddenText: " what you want to do with the bookings"
                  }
                ]
              }
            } if data.cancelAvailability.affectedBookings | int > 0
          
          ]
        }) }}

        {% set buttonText = "Cancel sessions" %}
        {% if data.cancelAvailability.affectedBookings | int > 0 and data.cancelAvailability.keepOrCancelBookings == 'cancel' %}
          {% set buttonText = "Cancel sessions and bookings" %}
        {% endif %}


        {{ button({
          text: buttonText,
          classes: "nhsuk-button--warning",
          href: "/site/" + site_id + "/cancel-availability/success"
        }) }}

    </div>
  </div>
{% endblock %}
