{% extends '../../layouts/layout.html' %}

{% set pageName = "Before you continue" %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' + site_id + '/availability/day'
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>
      <p>You cannot edit sessions after you create them. To change a session, you must:</p>
      <ul class="nhsuk-list nhsuk-list--number">
        <li>Cancel the sessions you want to change</li>
        <li>Choose to keep existing bookings</li>
        <li>Create new sessions with the updated details</li>
      </ul>
      {# <p>Any bookings you keep will be automatically moved into the new sessions.</p> #}

      {{ button({
        text: "Continue",
        href: '/site/' + site_id + '/cancel-availability/dates'
      }) }}
    </div>
  </div>
{% endblock %}