{% extends '../../layouts/layout.html' %}

{% set pageName = "Create availability for " + data.sites[site_id].name + " - " %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' + site_id
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      
      <span class="nhsuk-caption-l">{{ data.sites[site_id].name }}</span>
      <h1 class="nhsuk-heading-l">Create availability</h1>
      <p>You can create availability with multiple days and repeating sessions, to accurately reflect your site’s capacity.</p>

      <table class="nhsuk-table">
        <thead class="nhsuk-table__head">
          <tr>
            <th scope="col" class="nhsuk-table__header">Dates</th>
            <th scope="col" class="nhsuk-table__header">Days</th>
            <th scope="col" class="nhsuk-table__header">Services</th>
            <th scope="col" class="nhsuk-table__header">Session type</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          {% for session in data.availability %}
          {% if session.site_id == site_id %}

          {% set shortDayNames = [] %}
          {% for day in session.days %}
            {% set shortDayNames = shortDayNames.concat(day.slice(0, 3)) %}
          {% endfor %}

          {% set niceDayName = shortDayNames | list %}
          {% if shortDayNames | length == 7 %}{% set niceDayName = 'All' %}{% endif %}

          {% set niceServiceNames = [] %}
          {% for serviceId in session.services %}
            {% set niceServiceNames = niceServiceNames.concat(data.services[serviceId].name) %}
          {% endfor %}

          {% set displayDate -%}
            {% if session.singleDate %}
              {{ session.singleDate | daysAhead | formatDate('d LLL yyyy') }}
            {% elif session.startDate and session.endDate %}
               {{ session.startDate | formatDate('d LLL yyyy') }} to {{ session.endDate | formatDate('d LLL yyyy') }}
            {% else %}
              {{ session.startDaysAgo | daysAgo | formatDate('d LLL yyyy') }} to {{ session.endDaysAhead | daysAhead | formatDate('d LLL yyyy') }}
            {% endif %}
          {%- endset %}

          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">{{ displayDate }}</td>
            <td class="nhsuk-table__cell">{{ niceDayName }}</td>
            <td class="nhsuk-table__cell">{{ niceServiceNames | list }}</td>
            <td class="nhsuk-table__cell">{{ session.type }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>

      {{ button({
        text: "Create availability",
        href: "/site/" + site_id + "/create-availability/type-of-session"
      }) }}

    </div>
  </div>
{% endblock %}