{% extends '../../layouts/layout.html' %}

{% set pageName = "Create availability" %}

{% macro services(service_ids) %}
  {% set serviceTypes = [] %}

  {% for service_id in service_ids %}
    {% set vaccineShortcode = data.services[service_id].cohort.type ~ " " ~ data.services[service_id].vaccine %}
    {% if vaccineShortcode not in serviceTypes %}
      {% set serviceTypes = serviceTypes.concat([vaccineShortcode]) %}
    {% endif %}
  {% endfor %}

  {{ serviceTypes | join(', ') }}
{% endmacro %}

{% macro daysLabel(group) %}
  {% if group.type == 'single' %}
    {{ group.dates[0] | formatDate('ccc') }}
  {% else %}
    {% set days = [] %}
    {% for day, count in group.weekdaySummary %}
      {% if count > 0 %}
        {% set days = days.concat([day]) %}
      {% endif %}
    {% endfor %}

    {% if days | length == 7 %}
      All
    {% else %}
      {{ days | join(', ') }}
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro dateRangeLabel(group) %}
  {% if group.type == 'single' %}
    {{ group.dates[0] | formatDate('d MMM yyyy') }}
  {% else %}
    {{ group.dates[0] | formatDate('d MMM yyyy') }} to {{ group.dates[group.dates | length - 1] | formatDate('d MMM yyyy') }}
  {% endif %}
{% endmacro %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' + site_id
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-xl">{{ pageName }}</h1>

      {{ button({
        text: "Create new availability",
        href: "/site/" + site_id + "/create-availability/type-of-session"
      }) }}

      <h2 class="nhsuk-heading-m">History of sessions you created</h2>
      <p class="nhsuk-body">If you cancel a session, it will still show here. To see what people can book, check <a class="nhsuk-link" href="/site/{{ site_id }}/availability/day">View availability</a>.</p>
      <p class="nhsuk-body">Any sessions that ended in the past are hidden.</p>

      {% set sessionHistory = availabilityGroups.repeating.concat(availabilityGroups.single) %}

      {% if sessionHistory | length == 0 %}
        {{ insetText({
          text: "No sessions have been created yet."
        }) }}
      {% endif %}

      {% for group in sessionHistory %}
        {{ summaryList({
          rows: [
            {
              key: {
                text: "Dates"
              },
              value: {
                text: dateRangeLabel(group)
              }
            },
            {
              key: {
                text: "Days"
              },
              value: {
                text: daysLabel(group)
              }
            },
            {
              key: {
                text: "Services"
              },
              value: {
                text: services(group.session.services)
              }
            },
            {
              key: {
                text: "Session type"
              },
              value: {
                text: "Weekly repeating" if group.type == 'repeating' else "Single date"
              }
            }
          ]
        }) }}
      {% endfor %}

    </div>
  </div>
{% endblock %}