{% extends '../../layouts/layout.html' %}

{% set pageName = "Select days to add to your weekly session" %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' + site_id + '/create-availability/dates'
}) }}
{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l">Create availability</span>

      <form action="/site/{{ site_id }}/create-availability/time-and-capacity" method="post">

        {{ checkboxes({
          idPrefix: "days",
          name: "newSession[days]",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "nhsuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Monday",
              text: "Monday",
              exclusiveGroup: "individual-days",
              checked: true if "Monday" in (data.newSession.days or [])
            },
            {
              value: "Tuesday",
              text: "Tuesday",
              exclusiveGroup: "individual-days",
              checked: true if "Tuesday" in (data.newSession.days or [])
            },
            {
              value: "Wednesday",
              text: "Wednesday",
              exclusiveGroup: "individual-days",
              checked: true if "Wednesday" in (data.newSession.days or [])
            },
            {
              value: "Thursday",
              text: "Thursday",
              exclusiveGroup: "individual-days",
              checked: true if "Thursday" in (data.newSession.days or [])
            },
            {
              value: "Friday",
              text: "Friday",
              exclusiveGroup: "individual-days",
              checked: true if "Friday" in (data.newSession.days or [])
            },
            {
              value: "Saturday",
              text: "Saturday",
              exclusiveGroup: "individual-days",
              checked: true if "Saturday" in (data.newSession.days or [])
            },
            {
              value: "Sunday",
              text: "Sunday",
              exclusiveGroup: "individual-days",
              checked: true if "Sunday" in (data.newSession.days or [])
            }
          ]
        }) }}
        

        {{ button({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
