{% extends '../../layouts/layout.html' %}

{% set pageName = "You cannot add this availability" %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' + site_id + '/create-availability/are-you-assured'
}) }}
{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l">Create availability</span>
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>
      <p>You cannot add availability for services for which you are not assured.</p>
      <h2 class="nhsuk-heading-m">What to do next</h2>
      <p>You should...</p>
      {{ button({
        text: "View availability",
        href: '/site/' + site_id + '/availability'
      }) }}
    </div>
  </div>
{% endblock %}
