{% extends '../../layouts/layout.html' %}

{% set pageName = "What type of session do you want to create?" %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' + site_id + '/create-availability'
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l">Add availability</span>
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>
      <p>You can create weekly or single date sessions, to cover:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Vaccinator availability</li>
        <li>Type of vaccine available</li>
      </ul>

      <form action="/site/{{ site_id }}/create-availability/dates" method="post">

        {{ radios({
          idPrefix: "type-of-session",
          name: "newSession[type]",
          items: [
            {
              value: "Weekly repeating",
              text: "Weekly sessions",
              hint: {
                text: "Sessions that run at the same times every week"
              },
              checked: true if data.newSession.type == 'Weekly sessions'

            },
            {
              value: "Single date",
              text: "Single date session",
              hint: {
                text: "Sessions that run on one day and don't repeat"
              },
              checked: true if data.newSession.type == 'Single date'
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
