{% extends '../../layouts/layout.html' %}

{% set pageName = "Clinics" %}

{% macro services(service_ids) %}
  {% set serviceTypes = [] %}

  {% for service_id in service_ids %}
    {% set vaccineShortcode = data.services[service_id].cohort.type ~ " " ~ data.services[service_id].vaccine %}
    {% if vaccineShortcode not in serviceTypes %}
      {% set serviceTypes = serviceTypes.concat([vaccineShortcode]) %}
    {% endif %}
  {% endfor %}

  {{ serviceTypes | join(', ') }}
{% endmacro %}

{% macro timeLabel(session) %}
  {{ session.from | nhsTime }} to {{ session.until | nhsTime }}
{% endmacro %}

{% macro dateLabel(session) %}
  {% if session.endDate and session.endDate != session.date %}
    {{ session.date | formatDate('d MMM yyyy') }} to {{ session.endDate | formatDate('d MMM yyyy') }}
  {% else %}
    {{ session.date | formatDate('d MMM yyyy') }}
  {% endif %}
{% endmacro %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' + site_id
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-xl">{{ pageName }}</h1>

      {{ button({
        text: "Create new clinic",
        href: "/site/" + site_id + "/clinics/type-of-session"
      }) }}

      <h2 class="nhsuk-heading-m">History of clinics you created</h2>
      <p class="nhsuk-body">If you cancel a clinic, it will still show here. To see what people can book, check <a class="nhsuk-link" href="/site/{{ site_id }}/availability/day">View availability</a>.</p>
      <p class="nhsuk-body">Any clinics that ended in the past are hidden.</p>

      {% set sessionHistory = sessionHistory or [] %}

      {% if sessionHistory | length == 0 %}
        {{ insetText({
          text: "No clinics have been created yet."
        }) }}
      {% endif %}

      {% for session in sessionHistory %}
        {{ summaryList({
          rows: [
            {
              key: {
                text: "Dates"
              },
              value: {
                text: dateLabel(session)
              }
            },
            {
              key: {
                text: "Time"
              },
              value: {
                text: timeLabel(session)
              }
            },
            {
              key: {
                text: "Services"
              },
              value: {
                text: services(session.services)
              }
            },
            {
              key: {
                text: "Capacity"
              },
              value: {
                text: session.capacity
              }
            }
          ]
        }) }}
      {% endfor %}

    </div>
  </div>
{% endblock %}