{% extends '../layouts/layout.html' %}

{% set pageName = "Create availability - " + data.sites[site_id].name + " - " %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' + site_id
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      
      <span class="nhsuk-caption-l">{{ data.sites[site_id].name }}</span>
      <h1 class="nhsuk-heading-l">Create availability</h1>
      <p>You can create availability with multiple days and repeating sessions, to accurately reflect your site’s capacity.</p>

      <table class="nhsuk-table">
        <thead class="nhsuk-table__head">
          <tr>
            <th scope="col" class="nhsuk-table__header">Dates</th>
            <th scope="col" class="nhsuk-table__header">Days</th>
            <th scope="col" class="nhsuk-table__header">Services</th>
            <th scope="col" class="nhsuk-table__header">Session type</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          {% for id, session in data.availability %}
          {% if session.site_id == site_id %}
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">{{ session.start_days_ago }} - {{ session.end_days_ahead }}</td>
            <td class="nhsuk-table__cell"></td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}