{% extends '../../layouts/layout.html' %}
{% from '../../components/secondary-navigation.njk' import appSecondaryNavigation %}

{% set pageName = 'All availability' %}

{% macro services(service_ids) %}
  {% set servicesCount = service_ids | length %}
  {% set serviceTypes = [] %}
  
  <ul class="nhsuk-list nhsuk-u-margin-bottom-0">
  {% for service_id in service_ids %}
    {% set vaccineShortcode = data.services[service_id].cohort.type ~ " " ~ data.services[service_id].vaccine %}
    {% if vaccineShortcode not in serviceTypes %}
      {% set serviceTypes = serviceTypes.concat([vaccineShortcode]) %}
      <li>{{ vaccineShortcode }}</li>
    {% endif %}
  {% endfor %}
  </ul>
{% endmacro %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {% if newSession %}
      {% set html %}
        <h3 class="nhsuk-notification-banner__heading">Availability added</h3>
        <p>People can now book appointments in the new availability</p>
      {% endset %}

      {{ notificationBanner({
        html: html,
        type: "success"
      }) }}
      {% endif %}

      {{
        appSecondaryNavigation({
          items: [
            {
              text: 'Day view',
              href: '/site/' ~ site_id ~ '/availability/day'
            },
            {
              text: 'Week view',
              href: '/site/' ~ site_id ~ '/availability/week'
            },
            {
              text: 'Month view',
              href: '/site/' ~ site_id ~ '/availability/month'
            },
            {
              text: 'All availability',
              href: '/site/' ~ site_id ~ '/availability/all',
              current: true
            } if features.allAvailability,
            {
              text: 'Add availability',
              href: '/site/' ~ site_id ~ '/create-availability',
              primary: true
            }
          ]
        })
      }}
      <h1 class="nhsuk-heading-xl">{{ pageName }}</h1>

      {% if availabilityGroups.repeating | length == 0 and availabilityGroups.single | length == 0 %}
        <p class="nhsuk-body">There is no availability for this site.</p>
      {% else %}

      {% macro editLink(group_id) %}
        {% set filters = data.filters[site_id] %}
        {% set queryParts = [] %}

        {% if filters.from %}
          {% set _ = queryParts.push('from=' + filters.from) %}
        {% endif %}

        {% if filters.until %}
          {% set _ = queryParts.push('until=' + filters.until) %}
        {% endif %}

        {% set query = queryParts | join('&') %}

        <a class="nhsuk-link" href="/site/{{ site_id }}/availability/all/{{ group_id }}{% if query %}?{{ query | urlencode(false) }}{% endif %}">
          Edit
        </a>
      {% endmacro %}

      {% if availabilityGroups.repeating | length > 0 or availabilityGroups.single | length > 0 %}
      <table class="nhsuk-table-responsive" role="table">
        <thead class="nhsuk-table__head" role="rowgroup">
          <tr role="row">
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-half" role="columnheader">Dates and times</th>
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-half" role="columnheader">Services</th>
            <th scope="col" class="nhsuk-table__header" role="columnheader">Actions</th>
          </tr>
        </thead>    
        <tbody class="nhsuk-table__body">
          {% for group in availabilityGroups.repeating %}
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" role="cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Dates and times </span>
              {{ group.dates[0] | formatDate('d MMM yyyy') }} to {{ group.dates[group.dates | length - 1] | formatDate('d MMM yyyy') }}<br>
              {{ group.session.from | nhsTime }} to {{ group.session.until | nhsTime }}
            </td>
            <td class="nhsuk-table__cell" role="cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Services </span>
              {{ services(group.session.services) }}
            </td>
            <td class="nhsuk-table__cell" role="cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Actions </span>
              <a class="nhsuk-link" href="/site/{{ site_id }}/remove/{{ group.id }}">Remove</a>
            </td>
          </tr>
          {% endfor %}
          {% for group in availabilityGroups.single %}
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" role="cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date and times </span>
              {{ group.dates[0] | formatDate('cccc, d MMM yyyy') }}<br>
              {{ group.session.from | nhsTime }} to {{ group.session.until | nhsTime }}
            </td>
            <td class="nhsuk-table__cell" role="cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Services </span>
              {{ services(group.session.services) }}</td>
            <td class="nhsuk-table__cell" role="cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Actions </span>
              <a class="nhsuk-link" href="/site/{{ site_id }}/change/session/{{ group.id }}/select-matching-availability">Remove</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}

      {% endif %}

      </div>
  </div>

   {# {{ slots | prettyDump | safe }} #}
{% endblock %}