{% extends '../../layouts/layout.html' %}
{% from '../../components/subNavigation/subNavigation.njk' import subNavigation %}

{% set pageName = 'All availability - ' ~ data.sites[site_id].name %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' + site_id,
  text: 'Back to dashboard'
}) }}
{% endblock %}

{% macro services(service_ids) %}
  {% set servicesCount = service_ids | length %}
  {% set serviceTypes = [] %}
  
  <ul class="nhsuk-list nhsuk-u-margin-bottom-0">
  {% for service_id in service_ids %}
    {% set vaccineShortcode = data.services[service_id].cohort.type ~ " " ~ data.services[service_id].vaccine %}
    {% if vaccineShortcode not in serviceTypes %}
      {% set serviceTypes = serviceTypes.concat([vaccineShortcode]) %}
      <li>{{ vaccineShortcode }}</li>
    {% endif %}
  {% endfor %}
  </ul>
{% endmacro %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

       {{
        subNavigation({
          items: [
            {
              text: 'Today',
              href: '/site/' ~ site_id ~ '/availability/day',
              visuallyHiddenText: "’s availability"
            },
            {
              text: 'Week',
              href: '/site/' ~ site_id ~ '/availability/week',
              visuallyHiddenText: ' availability'
            },
            {
              text: 'Month',
              href: '/site/' ~ site_id ~ '/availability/month',
              visuallyHiddenText: ' availability'
            },
            {
              text: 'All',
              href: '/site/' ~ site_id ~ '/availability/all',
              isCurrent: true,
              visuallyHiddenText: ' availability'
            },
            {
              text: 'Add availability',
              href: '/site/' ~ site_id ~ '/create-availability/type-of-session',
              isPrimary: true
            }
          ]
        })
      }}

      <span class="nhsuk-caption-xl">{{ data.sites[site_id].name }}</span>
      <h1 class="nhsuk-heading-xl">All availability</h1>
    </div>
    
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--feature app-filters">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h3 class="nhsuk-card__heading nhsuk-card__heading--feature">Filter by date</h3>
          <form method="get" action="">
            {{ input({
              label: {
                text: "Start date"
              },
              type: "date",
              value: filters.from,
              id: "from",
              name: "from"
            }) }}
            {{ input({
              label: {
                text: "End date"
              },
              type: "date",
              value: filters.until,
              id: "until",
              name: "until"
            }) }}
            {{ button({
              text: "Apply filters",
              type: "submit",
              classes: "app-button--small nhsuk-u-margin-bottom-0"
            }) }}
          </form>
        </div>
      </div>
      
    </div>
    <div class="nhsuk-grid-column-two-thirds">

      {% if availabilityGroups.repeating | length == 0 and availabilityGroups.single | length == 0 %}
        <h2 class="nhsuk-heading-l">No availability</h2>
        <p class="nhsuk-body">There is no availability for this site. You should <a href="/site/{{ site_id }}/create-availability">add availability</a>.</p>
      {% else %}

      {% if availabilityGroups.repeating | length > 0 %}
      <table class="nhsuk-table-responsive" role="table">
        <caption class="nhsuk-table__caption">Repeating</caption>
        <thead class="nhsuk-table__head" role="rowgroup">
          <tr role="row">
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-half" role="columnheader">Dates and times</th>
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-half" role="columnheader">Services</th>
            <th scope="col" class="nhsuk-table__header" role="columnheader">Actions</th>
          </tr>
        </thead>    
        <tbody class="nhsuk-table__body">
          {% for group in availabilityGroups.repeating %}
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" role="cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Dates and times </span>
              {{ group.dates[0] | formatDate('d MMM') }} to {{ group.dates[group.dates | length - 1] | formatDate('d MMM yyyy') }}<br>
              {{ group.session.from | nhsTime }} to {{ group.session.until | nhsTime }}
            </td>
            <td class="nhsuk-table__cell" role="cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Services </span>
              {{ services(group.session.services) }}
            </td>
            <td class="nhsuk-table__cell" role="cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Actions </span>
              <a class="nhsuk-link" href="/site/{{ site_id }}/availability/all/{{ group.id }}?from={{ filters.from }}&until={{ filters.until }}">Edit</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}

      {% if availabilityGroups.single | length > 0 %}
      <table class="nhsuk-table-responsive" role="table">
        <caption class="nhsuk-table__caption">Single day</caption>
        <thead class="nhsuk-table__head" role="rowgroup">
          <tr role="row">
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-half" role="columnheader">Date and time</th>
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-half" role="columnheader">Services</th>
            <th scope="col" class="nhsuk-table__header" role="columnheader">Actions</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          {% for group in availabilityGroups.single %}
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" role="cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date and times </span>
              {{ group.dates[0] | formatDate('cccc, d MMM yyyy') }}<br>
              {{ group.session.from | nhsTime }} to {{ group.session.until | nhsTime }}
            </td>
            <td class="nhsuk-table__cell" role="cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Services </span>
              {{ services(group.session.services) }}</td>
            <td class="nhsuk-table__cell" role="cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Actions </span>
              <a class="nhsuk-link" href="/site/{{ site_id }}/availability/all/{{ group.id }}">Edit</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}

      {% endif %}

      </div>
  </div>

   {# {{ slots | prettyDump | safe }} #}
{% endblock %}