{% extends '../../layouts/layout.html' %}
{% from '../../components/subNavigation/subNavigation.njk' import subNavigation %}

{% set pageName = date | formatDate('EEEE, d LLLL yyyy') %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' + site_id,
  text: 'Back to dashboard'
}) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <span class="nhsuk-caption-l">{{ data.sites[site_id].name }}</span>
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>
      {{
        subNavigation({
          items: [
            {
              text: 'Day',
              href: '/site/' ~ site_id ~ '/availability/day',
              isCurrent: true,
              visuallyHiddenText: "’s availability"
            },
            {
              text: 'Week',
              href: '/site/' ~ site_id ~ '/availability/week',
              visuallyHiddenText: ' availability'
            },
            {
              text: 'Month',
              href: '/site/' ~ site_id ~ '/availability/month',
              visuallyHiddenText: ' availability'
            },
            {
              text: 'All',
              href: '/site/' ~ site_id ~ '/availability/all',
              visuallyHiddenText: ' availability'
            },
            {
              text: 'Add availability',
              href: '/site/' ~ site_id ~ '/create-availability/type-of-session',
              isPrimary: true
            }
          ]
        })
      }}

      {% macro orphanNote(count) -%}
        {% set isAre = 'is' if count == 1 else 'are' %}
        {% set appointmentAppointments = 'appointment' if count == 1 else 'appointments' %}
        {% set itThem = 'it' if count == 1 else 'them' %}
        {{ count }} booked {{appointmentAppointments}} {{isAre}} still scheduled until you cancel {{itThem}}.
      {%- endmacro %}

      {% macro appointmentForToday(opts) %}
         {# calculate if there's any booked appointments of this type #}
        {% set hasBookedAppointments = false %}
        {% for slot in slots[date] %}
          {% if slot.booking_status == 'scheduled' %}
            {% set hasBookedAppointments = true %}
          {% endif %}
        {% endfor %}

        <h2 class="nhsuk-heading-m">{{ opts.title }}</h2>
       
        {% if hasBookedAppointments %}
        <table class="nhsuk-table-responsive" role="table">
          <thead class="nhsuk-table__head" role="rowgroup">
            <tr>
              <th scope="col" class="nhsuk-table__header">Time</th>
              <th scope="col" class="nhsuk-table__header">Name and NHS number</th>
              <th scope="col" class="nhsuk-table__header">Date of birth</th>
              <th scope="col" class="nhsuk-table__header">Contact details</th>
              <th scope="col" class="nhsuk-table__header">Service</th>
              {% if opts.canCancel %}
              <th scope="col" class="nhsuk-table__header">Action</th>
              {% endif %}
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            

            {% for slot in slots[date] %}
            {% if slot.booking_status == opts.status %}
            {% set booking = data.bookings[site_id][slot.booking_id] %}
            <tr class="nhsuk-table__row" role="row">
              <td class="nhsuk-table__cell">{{ booking.datetime | formatDate('h:mm a') | lower  }}</td>
              <td class="nhsuk-table__cell">{{ booking.name }}<br>{{ booking.nhsNumber | nhsNumber | safe }}</td>
              <td class="nhsuk-table__cell">{{ booking.dob | formatDate }}</td>
              <td class="nhsuk-table__cell nhsuk-u-text-break-word">
                {% for key, value in booking.contact %}
                {% if key !== 'phone' -%}
                  <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">{{ value }}</p>
                {% else %}
                  <p class="nhsuk-body nhsuk-u-margin-bottom-0">{{ value }}</p>
                {% endif %}
                {% endfor %}
              </td>
              <td class="nhsuk-table__cell">{{ data.services[booking.service].name }}</td>
              {% if opts.canCancel %}
              <td class="nhsuk-table__cell"><a href="/sites/{{ site_id }}/cancel-appointment/{{ slot.appointment_id }}">Cancel</a></td>
              {% endif %}
            </tr>
            {% endif %}
            {% endfor %}

          </tbody>
        </table>
        {% else %}
          <p>No appointments.</p>
        {% endif %}
        
      {% endmacro %}

      {{ tabs({ 
        items: [ 
        { 
          label: "Scheduled", 
          id: "scheduled", 
          panel: { 
            html: appointmentForToday({
              status: 'scheduled', 
              title: 'Scheduled appointments',
              canCancel: true
            }) 
          } 
        }, 
        { 
          label: "Cancelled", 
          id: "cancelled", 
            panel: { 
              html: appointmentForToday({
                status: 'cancelled', 
                title: 'Cancelled appointments'
              }) 
            } 
          }, 
          { 
            label: "Manual Cancellations", 
            id: "manual-cancellations", 
            panel: { 
              html: appointmentForToday({
                status: 'orphaned', 
                title: 'Appointments you must manually cancel',
                showOrphanNote: true,
                canCancel: true
              }) 
            } 
          }
        ] 
      }) }}

{# {{ sessions | prettyDump | safe }} #}

    </div>  
  </div>
{% endblock %}