{% extends '../../layouts/layout.html' %}

{% set pageName = "Edit availability for "~group.dates[0] | formatDate('d MMMM yyyy') %}
{% if group.type == 'repeating' %}
  {% set pageName = pageName ~ " to " ~ group.dates[group.dates | length - 1] | formatDate('d MMMM yyyy') %}
{% endif %}

{% set groupSummary = summaries.byGroup[group.id] %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' ~ site_id ~ '/availability/all',
  text: 'Back'
}) }}
{% set group = null %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="app-heading-with-button">
        <h1 class="nhsuk-heading-l">{{ pageName }}</h1>
        <a href="#" class="nhsuk-button nhsuk-button--warning app-small-button">Delete this availability</a>
      </div>

      {# <div class="app-summary-card">
        <div class="app-summary-card__title-wrapper">
          <h2 class="app-summary-card__title">Dates</h2>
        </div>
        <div class="app-summary-card__content">
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Start date</dt>
              <dd class="nhsuk-summary-list__value">{{ group.dates[0] | formatDate('d MMMM yyyy') }}</dd>
            </div>
            {% if group.type == 'repeating' %}
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">End date</dt>
              <dd class="nhsuk-summary-list__value">{{ group.dates[group.dates | length - 1] | formatDate('d MMMM yyyy') }}</dd>
            </div>
            {% endif %}
          </dl>
        </div>
      </div> #}

      <div class="app-summary-card">
        <div class="app-summary-card__title-wrapper">
          <h2 class="app-summary-card__title">Time and capacity</h2>
          <a class="app-summary-card__action" href="/site/{{ site_id }}/change/group/{{ group.id }}/time-or-capacity">Edit</a>
        </div>
        <div class="app-summary-card__content">
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Start time</dt>
              <dd class="nhsuk-summary-list__value">{{ group.session.from | nhsTime }}</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">End time</dt>
              <dd class="nhsuk-summary-list__value">{{ group.session.until | nhsTime }}</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Available vaccinators or vaccination spaces</dt>
              <dd class="nhsuk-summary-list__value">{{ group.session.capacity }}</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Appointment length</dt>
              <dd class="nhsuk-summary-list__value">{{ group.session.slotLength }} minutes</dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="app-summary-card">
        <div class="app-summary-card__title-wrapper">
          <h2 class="app-summary-card__title">Services</h2>
          <a class="app-summary-card__action" href="/site/{{ site_id }}/change/group/{{ group.id }}/services">Edit</a>
        </div>
        <div class="app-summary-card__content">
          <table class="nhsuk-table">
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th scope="col" class="nhsuk-table__header">Service</th>
                <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Bookings</th>
              </tr>
            </thead>
              {% for service_id in group.session.services %}
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">{{ data.services[service_id].name  }}</td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric ">{% if groupSummary.bookingsPerService[service_id] is defined %}{{ groupSummary.bookingsPerService[service_id] }}{% else %}<span class="nhsuk-u-secondary-text-colour">None</span>{% endif %}</td></td>
              </tr>
              {% endfor %}
              <tr class="nhsuk-table__row app-table-row--total">
                <th scope="row" class="nhsuk-table__header">Booked</td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">{{ groupSummary.bookedSlots | formatNumber }}</td></td>
              </tr>
              <tr class="nhsuk-table__row">
                <th scope="row" class="nhsuk-table__header">Available</td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">{{ groupSummary.availableSlots | formatNumber }}</td></td>
              </tr>
              <tr class="nhsuk-table__row">
                <th scope="row" class="nhsuk-table__header">Total</td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">{{ groupSummary.totalSlots | formatNumber }}</td></td>
              </tr>   
            </tbody>
          </table>
        </div>
      </div>

      {% if group.type == 'repeating' %}
      <div class="app-summary-card">
        <div class="app-summary-card__title-wrapper">
          <h2 class="app-summary-card__title">Repeating pattern</h2>
          <a class="app-summary-card__action" href="#">Edit</a>
        </div>
        <div class="app-summary-card__content">
          <table class="nhsuk-table">
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th scope="col" class="nhsuk-table__header">Day</th>
                <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Number of days with pattern</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              {% for day, count in group.weekdaySummary %}
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">{{ day  }}</td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric {% if count == 0 %}nhsuk-u-secondary-text-colour{% endif %}">{% if count == 0 %}None{% else %}{{ count }}{% endif %}</td></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          
        </div>
      </div>
      {% endif %}
      

    </div>
</div>

{% endblock %}