{% extends '../../layouts/layout.html' %}

{% set pageName = 'Availability pattern details - ' ~ data.sites[site_id].name %}

{% block beforeContent %}
{{ backLink({
  href: '/site/' ~ site_id ~ '/availability/all',
  text: 'Back'
}) }}
{% endblock %}

{% macro monthCalendar(dates) %}
{% for yearNumber, year in dates %}
{% for monthNumber, month in year %}

<table class="app-calendar" role="table">
  <caption>{{ (yearNumber~'-'~monthNumber~'-01') | formatDate('MMMM yyyy') }}</caption>
  <thead>
    <tr>
      <th scope="col">Mon</th>
      <th scope="col">Tue</th>
      <th scope="col">Wed</th>
      <th scope="col">Thu</th>
      <th scope="col">Fri</th>
      <th scope="col">Sat</th>
      <th scope="col">Sun</th>
    </tr>
  </thead>
  <tbody>
    {% for week in month.weeks %}
    <tr>
      {% for day in week -%}

        {# calculate the logic for this table #}
        {% set thisDate = yearNumber~'-'~monthNumber | padZero~'-'~day.day | padZero %}
        {% set totalBooked = 0 %}
        {% set totalSlots = 0 %}


        {% for slot in slots[thisDate] %}
          {% set totalSlots = totalSlots + 1 %}
          {% if slot.booking_status == 'scheduled' %}
            {% set totalBooked = totalBooked + 1 %}
          {% endif %}
        {% endfor %}

        {% set classes -%}
        {%- if not day %} app-calendar-day--blank{% endif -%}
        {%- if day.hasEntry %} app-calendar-day--available{% endif -%}
        {%- if thisDate | isDateInPast(today) %} app-calendar-day--past{% endif -%}
        {%- endset %}

        <td role="gridcell" class="app-calendar-day {{ classes }}" aria-label="{{ thisDate | formatDate('cccc, d MMMM yyyy') }}" {% if thisday == today %}aria-current="date"{% endif %}>
          {% if not thisDate | isDateInPast(today) %}
          {% if day.hasEntry %}
            <a href="/site/{{ site_id }}/availability/day?date={{ thisDate }}" 
              class="app-calendar-link"
              aria-label="View availability for {{ thisDate | formatDate('cccc, d MMMM yyyy') }}">
            <span class="app-calendar-day__dayNumber">{{ day.day }}</span>
            </a>
            <ul class="app-calendar-details">
            {% if totalBooked > 0 %}
              <li>{{ totalBooked }}/{{ totalSlots }} booked</li>
            {% else %}
              <li>{{ totalSlots }} available</li>
            {% endif %}
            </ul>
          {% else %}
            <span class="app-calendar-day__dayNumber" aria-label="No availability on {{ thisDate | formatDate('cccc, d MMMM yyyy') }}">{{ day.day }}</span>
          {% endif %}
          {% else %}
            <span class="app-calendar-day__dayNumber" aria-label="Date in the past: {{ thisDate | formatDate('cccc, d MMMM yyyy') }}">{{ day.day }}</span>
          {% endif %}
        </td>
      {%- endfor %}
    </tr>
    {% endfor %}{# end week #}
  </tbody>
</table>
{% endfor %}{# end of month #}
{% endfor %}{# end of year #}
{% endmacro %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <span class="nhsuk-caption-l">{{ data.sites[site_id].name }}</span>
      <h1 class="nhsuk-heading-l">{{ group.dates[0] | formatDate('d MMMM') }}{% if group.type == 'repeating' %} to {{ group.dates[group.dates | length - 1] | formatDate('d MMMM yyyy') }}{% endif %}, {{ group.session.from | nhsTime }} to {{ group.session.until | nhsTime }}</h1>

      <div class="nhsuk-button-group">
        {{ button({
          text: "Edit availability",
          classes: "nhsuk-button--secondary app-small-button"
        }) }}

        {{ button({
          text: "Delete availability",
          classes: "nhsuk-button--warning app-small-button"
        }) }}
      </div>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Services</dt>
          <dd class="nhsuk-summary-list__value">
            {% for service_id in group.session.services %}
              {% set service = data.services[service_id] %}
                {{ service.name }}{% if not loop.last %}<br>{% endif %}
            {% endfor %}
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Appointment length</dt>
          <dd class="nhsuk-summary-list__value">
            {{ group.session.slotLength }} minutes<br>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Vaccinators or vaccination spaces</dt>
          <dd class="nhsuk-summary-list__value">{{ group.session.capacity }}</dd>
        </div>
      </dl>

    </div>
</div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {{ monthCalendar(calendar.dates) | safe }}
  </div>
</div>

{% call details({
  summaryText: "Slots object"
}) %}
  {{ slots | prettyDump | safe }}
{% endcall %}
{% call details({
  summaryText: "Group object"
}) %}
  {{ group | prettyDump | safe }}
{% endcall %}
{% call details({
  summaryText: "Calendar object"
}) %}
  {{ calendar | prettyDump | safe }}
{% endcall %}
{% endblock %}