{% extends '../../layouts/layout.html' %}
{% from '../../components/secondary-navigation.njk' import appSecondaryNavigation %}

{% set currentYear = currentDate | formatDate('yyyy') %}
{% set currentMonth = currentDate | formatDate('MM') %}

{% set pageName = (currentYear ~ "-" ~ currentMonth ~ "-01") | formatDate("LLLL yyyy") %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {{
        appSecondaryNavigation({
          items: [
            {
              text: 'Day view',
              href: '/site/' ~ site_id ~ '/availability/day'
            },
            {
              text: 'Week view',
              href: '/site/' ~ site_id ~ '/availability/week'
            },
            {
              text: 'Month view',
              href: '/site/' ~ site_id ~ '/availability/month',
              current: true
            },
            {
              text: 'All availability',
              href: '/site/' ~ site_id ~ '/availability/all'
            } if features.allAvailability,
            {
              text: 'Add availability',
              href: '/site/' ~ site_id ~ '/create-availability',
              primary: true
            } if features.allAvailability
          ]
        })
      }}
      
      {% if features.cancelDateRange %}
      {% include "../../includes/addCancelButtons.njk" %}
      {% endif %}
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>
      

    </div>  
  </div>
{% endblock %}