{% extends '../../layouts/layout.html' %}
{% from '../../components/subNavigation/subNavigation.njk' import subNavigation %}

{% set currentYear = currentDate | formatDate('yyyy') %}
{% set currentMonth = currentDate | formatDate('MM') %}

{% set pageName = (currentYear ~ "-" ~ currentMonth ~ "-01") | formatDate("LLLL yyyy") %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {{
        subNavigation({
          items: [
            {
              text: 'Day view',
              href: '/site/' ~ site_id ~ '/availability/day'
            },
            {
              text: 'Week view',
              href: '/site/' ~ site_id ~ '/availability/week'
            },
            {
              text: 'Month view',
              href: '/site/' ~ site_id ~ '/availability/month',
              isCurrent: true
            },
            {
              text: 'Manage availability',
              href: '/site/' ~ site_id ~ '/availability/all'
            },
            {
              text: 'Add availability',
              href: '/site/' ~ site_id ~ '/create-availability/type-of-session',
              isPrimary: true
            }
          ]
        })
      }}

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>
      

    </div>  
  </div>
{% endblock %}