{% extends '../../layouts/layout.html' %}
{% from '../../components/subNavigation/subNavigation.njk' import subNavigation %}
{% from '../../includes/renderServicesTable.njk' import renderServicesTable %}

{% set pageName = week[0] | formatDate('d LLLL') ~ ' to ' ~ week[6] | formatDate('d LLLL yyyy') %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      
      {{
        subNavigation({
          items: [
            {
              text: 'Day view',
              href: '/site/' ~ site_id ~ '/availability/day'
            },
            {
              text: 'Week view',
              href: '/site/' ~ site_id ~ '/availability/week',
              isCurrent: true
            },
            {
              text: 'Month view',
              href: '/site/' ~ site_id ~ '/availability/month'
            },
            {
              text: 'Manage availability',
              href: '/site/' ~ site_id ~ '/availability/all'
            },
            {
              text: 'Add availability',
              href: '/site/' ~ site_id ~ '/create-availability',
              isPrimary: true
            }
          ]
        })
      }}

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      {{ pagination({
        previous: {
          labelText: previousWeek.start | formatDate('d') ~ " to " ~ previousWeek.end | formatDate('d LLL'),
          href: "/site/"~site_id~"/availability/week?date="~previousWeek.start
        },
        next: {
          labelText: nextWeek.start | formatDate('d') ~ " to " ~ nextWeek.end | formatDate('d LLL'),
          href: "/site/"~site_id~"/availability/week?date="~nextWeek.start  
        }
      }) }}
    </div>
  </div>
  <ol class="nhsuk-grid-row app-panel-list">
  {% for day in week %}
  <li class="nhsuk-grid-column-full  app-panel-list__item">

    <div class="nhsuk-table__panel-with-heading-tab">
      <h2 class="nhsuk-table__heading-tab">{{ day | formatDate('cccc, d LLLL') }}</h2>
      {% if data.daily_availability[site_id][day] %}
       {{ renderServicesTable({
          date: day, 
          sessions: data.daily_availability[site_id][day].sessions,
          slots: slots,
          site_id: site_id,
          data: data,
          change: {
            type: 'session'
          }
        }) }}
      {% else %}
      <p>No availability</p>
      {% endif %}
    </div>

  </li>
  {% endfor %}
  </ol>
{% endblock %}