{% extends '../layouts/design-system-addons.html' %}
{% from '../components/app-card.njk' import appCard %}
{% from './includes/example-block.njk' import docsExample %}

{% set pageName = 'App card' %}
{% set pageToc = [
  {
    id: 'overview',
    text: 'Overview'
  },
  {
    id: 'examples',
    text: 'Examples'
  },
  {
    id: 'options',
    text: 'Options'
  }
] %}

{% set capacityExample %}
{{ appCard({
  title: 'Capacity',
  action: {
    href: '#',
    text: 'Change',
    visuallyHiddenText: ' vaccinators'
  },
  items: [
    {
      key: 'Booking length',
      value: '10 minutes'
    }, {
      key: 'Number of vaccinators',
      value: '3 vaccinators'
    }
  ]
}) }}
{% endset %}

{% set capacityCode %}
{% raw %}{{ appCard({
  title: 'Capacity',
  action: {
    href: changeBasePath ~ '/appointments-calculator',
    text: 'Change',
    visuallyHiddenText: ' vaccinators'
  },
  items: [
    {
      key: 'Booking length',
      value: bookingLengthText
    }, {
      key: 'Number of vaccinators',
      value: vaccinatorText
    }
  ]
}) }}{% endraw %}
{% endset %}

{% set capacityHtmlCode %}
<section class="app-card">
  <div class="app-card__header">
    <h2 class="app-card__title">Capacity</h2>
    <a class="app-card__action" href="#">
      Change
      <span class="nhsuk-u-visually-hidden"> vaccinators</span>
    </a>
  </div>
  <div class="app-card__body">
    <dl class="nhsuk-summary-list app-card__summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Booking length</dt>
        <dd class="nhsuk-summary-list__value">10 minutes</dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Number of vaccinators</dt>
        <dd class="nhsuk-summary-list__value">3 vaccinators</dd>
      </div>
    </dl>
  </div>
</section>
{% endset %}

{% set clinicTimesExample %}
{{ appCard({
  title: 'Clinic times',
  action: {
    href: '#',
    text: 'Change',
    visuallyHiddenText: ' clinic times'
  },
  items: [
    {
      key: 'Time period',
      value: '09:00 to 12:00'
    }
  ]
}) }}
{% endset %}

{% set clinicTimesCode %}
{% raw %}{{ appCard({
  title: 'Clinic times',
  action: {
    href: changeBasePath ~ '/clinic-times',
    text: 'Change',
    visuallyHiddenText: ' clinic times'
  },
  items: [
    {
      key: 'Time period',
      value: draft.from ~ ' to ' ~ draft.until
    }
  ]
}) }}{% endraw %}
{% endset %}

{% set clinicTimesHtmlCode %}
<section class="app-card">
  <div class="app-card__header">
    <h2 class="app-card__title">Clinic times</h2>
    <a class="app-card__action" href="#">
      Change
      <span class="nhsuk-u-visually-hidden"> clinic times</span>
    </a>
  </div>
  <div class="app-card__body">
    <dl class="nhsuk-summary-list app-card__summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Time period</dt>
        <dd class="nhsuk-summary-list__value">09:00 to 12:00</dd>
      </div>
    </dl>
  </div>
</section>
{% endset %}

{% set servicesExample %}
{{ appCard({
  title: 'Services',
  action: {
    href: '#',
    text: 'Change',
    visuallyHiddenText: ' services'
  },
  items: [
    {
      key: 'Services',
      html: 'Flu vaccination<br>COVID-19 vaccination'
    }
  ]
}) }}
{% endset %}

{% set servicesCode %}
{% raw %}{{ appCard({
  title: 'Services',
  action: {
    href: editBasePath ~ '/services',
    text: 'Change',
    visuallyHiddenText: ' services'
  },
  items: [
    {
      key: 'Services',
      html: servicesHtml
    }
  ]
}) }}{% endraw %}
{% endset %}

{% set servicesHtmlCode %}
<section class="app-card">
  <div class="app-card__header">
    <h2 class="app-card__title">Services</h2>
    <a class="app-card__action" href="#">
      Change
      <span class="nhsuk-u-visually-hidden"> services</span>
    </a>
  </div>
  <div class="app-card__body">
    <dl class="nhsuk-summary-list app-card__summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Services</dt>
        <dd class="nhsuk-summary-list__value">Flu vaccination<br>COVID-19 vaccination</dd>
      </div>
    </dl>
  </div>
</section>
{% endset %}

{% set closuresExample %}
{{ appCard({
  title: 'Closures',
  action: {
    href: '#',
    text: 'Change',
    visuallyHiddenText: ' closures'
  },
  items: [
    {
      keyHtml: 'Bank holiday',
      value: '25 Aug 2026 to 26 Aug 2026'
    },
    {
      keyHtml: '<span class="nhsuk-body-s nhsuk-u-margin-bottom-0">No label</span>',
      value: '2 Sep 2026 to 2 Sep 2026'
    }
  ]
}) }}
{% endset %}

{% set closuresCode %}
{% raw %}{{ appCard({
  title: 'Closures',
  action: {
    href: editBasePath ~ '/clinic-closures',
    text: 'Change',
    visuallyHiddenText: ' closures'
  },
  items: closuresItems
}) }}{% endraw %}
{% endset %}

{% set closuresHtmlCode %}
<section class="app-card">
  <div class="app-card__header">
    <h2 class="app-card__title">Closures</h2>
    <a class="app-card__action" href="#">
      Change
      <span class="nhsuk-u-visually-hidden"> closures</span>
    </a>
  </div>
  <div class="app-card__body">
    <dl class="nhsuk-summary-list app-card__summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Bank holiday</dt>
        <dd class="nhsuk-summary-list__value">25 Aug 2026 to 26 Aug 2026</dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key"><span class="nhsuk-body-s nhsuk-u-margin-bottom-0">No label</span></dt>
        <dd class="nhsuk-summary-list__value">2 Sep 2026 to 2 Sep 2026</dd>
      </div>
    </dl>
  </div>
</section>
{% endset %}

{% set clinicsWithChangesExample %}
{{ appCard({
  title: 'Clinics with changes',
  items: [
    {
      key: '12 Sep 2026',
      html: '<dl><dt class="nhsuk-u-font-weight-bold">Times</dt><dd class="nhsuk-u-margin-left-0 nhsuk-u-margin-bottom-2">10:00am to 12:00pm</dd><dt class="nhsuk-u-font-weight-bold">Vaccinators</dt><dd class="nhsuk-u-margin-left-0 nhsuk-u-margin-bottom-2">2</dd><dt class="nhsuk-u-font-weight-bold">Services</dt><dd class="nhsuk-u-margin-left-0 nhsuk-u-margin-bottom-0">Flu vaccination<br>COVID-19 vaccination (added)</dd></dl>',
      actions: {
        items: [
          {
            href: '#',
            text: 'Change',
            visuallyHiddenText: ' one-off changes for 12 Sep 2026'
          }
        ]
      }
    },
    {
      key: '19 Sep 2026',
      html: '<dl><dt class="nhsuk-u-font-weight-bold">Times</dt><dd class="nhsuk-u-margin-left-0 nhsuk-u-margin-bottom-2">09:30am to 11:30am</dd><dt class="nhsuk-u-font-weight-bold">Vaccinators</dt><dd class="nhsuk-u-margin-left-0 nhsuk-u-margin-bottom-0">1</dd></dl>',
      actions: {
        items: [
          {
            href: '#',
            text: 'Change',
            visuallyHiddenText: ' one-off changes for 19 Sep 2026'
          }
        ]
      }
    },
    {
      key: '26 Sep 2026',
      html: '<dl><dt class="nhsuk-u-font-weight-bold">Services</dt><dd class="nhsuk-u-margin-left-0 nhsuk-u-margin-bottom-0">Flu vaccination (removed)</dd></dl>',
      actions: {
        items: [
          {
            href: '#',
            text: 'Change',
            visuallyHiddenText: ' one-off changes for 26 Sep 2026'
          }
        ]
      }
    }
  ]
}) }}
{% endset %}

{% set clinicsWithChangesCode %}
{% raw %}{{ appCard({
  title: 'Clinics with changes',
  items: oneOffChangesItems
}) }}

{# where each item is built like this in summary-parent.html #}
{% set oneOffChangesItems = oneOffChangesItems.concat([
  {
    key: childDate,
    html: oneOffChangesSummary(childSession),
    actions: {
      items: [
        {
          href: '/site/' + site_id + '/change/session/' + childInstanceId + '?back=' + (backHref | urlencode),
          text: 'Change',
          visuallyHiddenText: ' one-off changes for ' + childDate
        }
      ]
    }
  }
]) %}{% endraw %}
{% endset %}

{% set clinicsWithChangesHtmlCode %}
<section class="app-card">
  <div class="app-card__header">
    <h2 class="app-card__title">Clinics with changes</h2>
  </div>
  <div class="app-card__body">
    <dl class="nhsuk-summary-list app-card__summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">12 Sep 2026</dt>
        <dd class="nhsuk-summary-list__value">
          <dl>
            <dt class="nhsuk-u-font-weight-bold">Times</dt>
            <dd class="nhsuk-u-margin-left-0 nhsuk-u-margin-bottom-2">10:00am to 12:00pm</dd>
            <dt class="nhsuk-u-font-weight-bold">Vaccinators</dt>
            <dd class="nhsuk-u-margin-left-0 nhsuk-u-margin-bottom-2">2</dd>
            <dt class="nhsuk-u-font-weight-bold">Services</dt>
            <dd class="nhsuk-u-margin-left-0 nhsuk-u-margin-bottom-0">Flu vaccination<br>COVID-19 vaccination (added)</dd>
          </dl>
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <ul class="nhsuk-summary-list__actions-list">
            <li class="nhsuk-summary-list__actions-list-item">
              <a class="nhsuk-link" href="#">Change<span class="nhsuk-u-visually-hidden"> one-off changes for 12 Sep 2026</span></a>
            </li>
          </ul>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">19 Sep 2026</dt>
        <dd class="nhsuk-summary-list__value">
          <dl>
            <dt class="nhsuk-u-font-weight-bold">Times</dt>
            <dd class="nhsuk-u-margin-left-0 nhsuk-u-margin-bottom-2">09:30am to 11:30am</dd>
            <dt class="nhsuk-u-font-weight-bold">Vaccinators</dt>
            <dd class="nhsuk-u-margin-left-0 nhsuk-u-margin-bottom-0">1</dd>
          </dl>
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <ul class="nhsuk-summary-list__actions-list">
            <li class="nhsuk-summary-list__actions-list-item">
              <a class="nhsuk-link" href="#">Change<span class="nhsuk-u-visually-hidden"> one-off changes for 19 Sep 2026</span></a>
            </li>
          </ul>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">26 Sep 2026</dt>
        <dd class="nhsuk-summary-list__value">
          <dl>
            <dt class="nhsuk-u-font-weight-bold">Services</dt>
            <dd class="nhsuk-u-margin-left-0 nhsuk-u-margin-bottom-0">Flu vaccination (removed)</dd>
          </dl>
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <ul class="nhsuk-summary-list__actions-list">
            <li class="nhsuk-summary-list__actions-list-item">
              <a class="nhsuk-link" href="#">Change<span class="nhsuk-u-visually-hidden"> one-off changes for 26 Sep 2026</span></a>
            </li>
          </ul>
        </dd>
      </div>
    </dl>
  </div>
</section>
{% endset %}

{% block docsContent %}
  <section id="overview">
  <h1 class="nhsuk-heading-xl">App card</h1>

  <p class="nhsuk-body-l">
    Use app card to group clinic details into compact sections on the change clinic summary pages.
  </p>

  <h2 class="nhsuk-heading-m">When to use this component</h2>
  <ul class="nhsuk-list nhsuk-list--bullet">
    <li>Change series and change single clinic summaries</li>
    <li>Sections like capacity, clinic times, services, closures, and one-off changes</li>
    <li>Rows that may include formatted html and row actions</li>
  </ul>

  <h2 class="nhsuk-heading-m">Macro import</h2>
  <div class="app-docs__code-block">
    <pre class="line-numbers"><code class="language-django">{% raw %}{% from '../components/app-card.njk' import appCard %}{% endraw %}</code></pre>
  </div>
  </section>

  <section id="examples">
  <h2 class="nhsuk-heading-l">Examples</h2>

  {{ docsExample('capacity-card-single', 'Capacity card (change single clinic)', capacityExample, capacityCode, capacityHtmlCode) }}

  {{ docsExample('clinic-times-card-single', 'Clinic times card (change single clinic)', clinicTimesExample, clinicTimesCode, clinicTimesHtmlCode) }}

  {{ docsExample('services-card-shared', 'Services card (change single and series)', servicesExample, servicesCode, servicesHtmlCode) }}

  {{ docsExample('closures-card-series', 'Closures card with and without labels (change series)', closuresExample, closuresCode, closuresHtmlCode) }}

  {{ docsExample('clinics-with-changes-card-series', 'Clinics with changes card with row action (change series)', clinicsWithChangesExample, clinicsWithChangesCode, clinicsWithChangesHtmlCode) }}
  </section>

  <section id="options">
  <h2 class="nhsuk-heading-l">Options</h2>
  <table class="nhsuk-table">
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header">Option</th>
        <th class="nhsuk-table__header">Type</th>
        <th class="nhsuk-table__header">Description</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">title</td>
        <td class="nhsuk-table__cell">string</td>
        <td class="nhsuk-table__cell">Card heading text.</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">action</td>
        <td class="nhsuk-table__cell">object</td>
        <td class="nhsuk-table__cell">Action link in header with href, text and visuallyHiddenText.</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">items</td>
        <td class="nhsuk-table__cell">array</td>
        <td class="nhsuk-table__cell">Rows rendered as summary list key/value pairs.</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">html</td>
        <td class="nhsuk-table__cell">string</td>
        <td class="nhsuk-table__cell">Custom body content. Used instead of items when provided.</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">classes</td>
        <td class="nhsuk-table__cell">string</td>
        <td class="nhsuk-table__cell">Additional classes on the root card element.</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">attributes</td>
        <td class="nhsuk-table__cell">object</td>
        <td class="nhsuk-table__cell">Custom html attributes applied to the root card element.</td>
      </tr>
    </tbody>
  </table>
  </section>
{% endblock %}
