{% extends '../../layouts/layout.html' %}
{% from '../../components/subNavigation/subNavigation.njk' import subNavigation %}

{% set pageName = 'All availability' %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {{
      subNavigation({
        items: [
          {
            text: 'Day view',
            href: '#'
          },
          {
            text: 'Week view',
            href: '#'
          },
          {
            text: 'Month view',
            href: '#'
          },
          {
            text: 'All availability',
            href: '#',
            isCurrent: true
          },
          {
            text: 'Add availability',
            href: '#',
            isPrimary: true
          }
        ]
      })
    }}
    <h1 class="nhsuk-heading-xl">{{ pageName }}</h1>

    {{ table({
      firstCellIsHeader: false,
      head: [
        {
          text: "Dates and time"
        },{
          text: "Days"
        },{
          text: "Services"
        }, {
          text: "Actions"
        }
      ],
      rows: [
        [
          {
            text: today | formatDate('d MMM')~" to 30 Nov 2025 10am to 4pm"
          },{
            text: "Mon, Tue, Wed, Thu, Fri"
          },{
            html: "Adult COVID-19<br>Adult Flu<br>Adult COVID-19 & Flu"
          }, {
            html: '<a class="nhsuk-link" href="/concepts/edit-the-blob/edit">Edit</a>'
          }
        ], [
          {
            text: "1 Dec to 31 Dec 2025 10am to 4pm"
          },{
            text: "Mon, Tue, Wed, Thu, Fri"
          },{
            html: "Adult COVID-19<br>Adult Flu<br>Adult COVID-19 & Flu"
          }, {
            html: '<a class="nhsuk-link" href="/concepts/edit-the-blob/edit">Edit</a>'
          }
        ]
      ]
    }) }}

  </div>
</div>
{% endblock %}